<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#forvard').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/forvard',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#resvard').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/resvard',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=forvard><button class='btn btn-default'>Test</button></a>
            <a href=# id=resvard><button class='btn btn-default'>Test</button></a>
        </form>
        {{servo}}

</div>